/* Details and Id section */

.go-back-image {
    position: relative;
    width: 16px;
    height: 16px;
    left: -20px;
    opacity: 0px;
}


#details-text {
    color: #2162AC;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.51px;
    text-align: left;
}

#details-id {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 24.51px;
    text-align: left;

}


.details-go-back {
    display: flex;
    align-items: center;
    justify-content: center;
}

.details-id-container {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f1f1f1;
    margin-left: -17px;
}

.details-id-container:hover {
    cursor: pointer;
}

/* Main container  */
.container {
    outline: 2px solid #ebebeb;
    margin-top: 8px;
    background: white;
}


/* view details and xyz packging section */

.viewdetails {
    width: 100%;
    background-color: #F1F1F1;
    gap: 20px;
    display: flex;
    /* padding: 11px 67px; */
    font-family: open Sans;
    font-size: 15px;
}

.view-detail-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 35%;
    /* padding: 12px; */
    /* height: 70px; */
    font-size: larger;
    background-color: white;
    box-shadow: 2px 2px 2px 0px #e1e1e1
}

.view-detail-2 {
    display: flex;
    align-items: center;
    justify-content: start;
    /* height: 70px; */
    width: 100%;
    background-color: white;
    box-shadow: 2px 2px 2px 0px #e1e1e1;
    text-align: left;
    color: #a6acb3;
    padding: 16px;
    font-size: larger;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 27.24px;
    text-align: left;
    color: #4E4E4E;
}

/* Supplier info section */

.supplier-info-parent {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 77px;
}

.supplier-info-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.supplier-info-heading {
    font-size: 18px;
    font-weight: 600;
    line-height: 24.51px;
    text-align: left;
    color: #27292F;
}

.supplier-info-heading span {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: left;

}

.supplier-info-left {
    margin-left: 72px;
}

#supplier-info-left-image {
    position: relative;
    top: 21px;
    width: 190.26px;
    height: 177px;
    gap: 0px;
}

.table {
    width: 100%;
}

.supplier-info-table-layout {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.table-outer-div {
    display: flex;
    width: 49.8%;
    outline: 0.2px solid #d4d9df;
    padding: 8px;
    margin-top: 1px;
    margin-left: 1px;
}


.table-outer-div div {
    width: 350px;
}


.table-outer-div-heading {
    color: #666C84;
    font-size: 14px;
}

.table-outer-div-description {
    color: #2162AC;
    font-size: 16px;
    font-weight: 500;
    line-height: 21.79px;
    text-align: left;
}

/* Approval type status */

.approval-type-status {
    width: 100%;
    padding: 22px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 80px;
}


.approval-type-subdiv {
    display: flex;
    outline: 1px solid #dadada;
    width: 30%;
}

.approval-type-heading {
    display: flex;
    color: #666C84;
    width: fit-content;
    align-items: center;
    padding-left: 0px;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
    border-right: 1px solid #dadada;
    /* height: 50px; */
    padding: 8px;
}

.approval-type-description {
    display: flex;
    align-items: center;
    padding-left: 8px;
    /* width: 200px; */
    font-weight: 600;
    color: #2162AC;
}


.program-part-info {
    width: 100%;
    padding: 20px;
}

.visualmain {
    padding: 20px;
}

.packingmain, .shippingmain {
    padding: 20px;
    width: 100%;
}

/* Images section  */

.visual {
    margin-top: 20px;
    display: flex;
    width: 100%;
}

.visualdiv {
    outline: 1px solid #D3D3D3;
    padding: 13px;
    margin-top: 1px;
    margin-left: 1px;
    width: 395px;
}

.vdiv1 {
    font-size: 14px;
    font-weight: 500;
    line-height: 19.07px;
    text-align: left;

}

.vdiv2 img {
    width: 190.26px;
    height: 177px;
    top: 970px;
    left: 197.5px;
    gap: 0px;
    opacity: 0px;

}

h3 span {
    font-weight: normal;
}

.visual-ref-heading {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 24.51px;
    text-align: left;
}

.visual-ref-heading span {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: left;

}

.vdiv1, .vdiv2 {
    text-align: center;
}

.program-part-div {
    width: 49.8%;
}


/* packing information section */

.packing-dada-heading {
    font-size: 18px;
    font-weight: 600;
    line-height: 24.51px;
    text-align: left;
}

.packingData, .shippingData {
    padding: 20px;
}

.packaging-spec-container {
    margin-top: 20px;
    border: 1px solid #dadada;
}

.packaging-spec-container .column {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
}

.packaging-spec-container .column div {
    font-size: 1.2em;
    color: #27292F;
    font-weight: 500;
    padding: 0.6em;
    border-right: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    word-wrap: break-word;
}

.packaging-spec-container .column div:nth-child(2), .packaging-spec-container .column div:nth-child(3) {
    text-align: center;
}

.specificationHeader {
    display: grid;
    grid-template-columns: 33.33% 66.67%;
}

.specificationTitle {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
}

.specificationTitle div, .contentDetail div {
    padding: 0.6em;
    border-bottom: 1px solid #dadada;
    border-right: 1px solid #dadada;
    display: flex;
    align-items: center;
}

.packing-info-headers {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 24.51px;
    text-align: left;
    color: #27292F;
}

.specificationTitle div {
    color: #666C84;
    font-weight: 400;
    font-family: Open Sans;
    font-size: 14px;
    line-height: 19.07px;
    text-align: left;

}

.contentDetail div {
    justify-content: center;
    font-size: 1em;
    color: #2162AC;
    font-weight: 500;
}

.primaryContent {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.primaryContent .contentDetail:nth-child(2) div {
    border-right: none;
}

.contentDetail {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
}

.rowArray3, .rowArray2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0em !important;
}

.rowArray3 div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    border: none;
    padding: 0em;
    height: 100%;
    border-right: 1px solid #dadada !important;
}

.rowArray2 div {
    border: none;
    padding: 0em;
    height: 100%;
    border-right: 1px solid #dadada !important;
}

.rowArray2 div:nth-child(1) {
    flex: 1;
}

.rowArray2 div:nth-child(2) {
    flex: 2;
}

/* shipping data section */


.shippingDataContainer {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid #dadada;
}

.dataContainer1, .dataContainer {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
}

.dataContainer div, .dataContainer1 div {
    border-bottom: 1px solid #dadada;
    padding: 0.6em;
    border-right: 1px solid #dadada;
}

.dataContainer1 div {
    color: #666C84;
    font-weight: 500;
    font-size: 16px;
    padding-top: 0.8em !important;
}

.dataContainer div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.spanHeading {
    grid-row: 1/2;
}

.spanrow1 {
    grid-row: 2/6;
}

.spanrow2 {
    grid-row: 6/7;
}

.spanrow3 {
    grid-row: 7/8;
}

.spanrow4 {
    grid-row: 8/10;
}

.rowArrayX, .rowArrayY {
    display: flex;
    width: 100%;
    padding: 0em !important;
}

.rowArrayX p, .rowArrayY div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #D3D3D3;
    padding: 0em !important;
    height: 100%;
}

.rowArrayX p {
    width: 33.33%;
}

.rowArrayY div {
    width: 50%;
}

.shippingDataContainer .dataContainer {
    font-size: 1em;
    color: slateblue;
    font-weight: 500;
}

.spanrow2 div:nth-child(1) {
    font-size: 1em;
    color: #21AC27;
}

.spanrow2 div:nth-child(2) {
    font-size: 1em;
    color: #EE2A2A;
}

.spanHeading {
    color: #27292F;
    font-size: 1.2em;
    font-weight: 500;
}

.shippingDataContainer .dataContainer:nth-child(2) div:nth-child(10) {
    border-right: none !important;
    border-bottom: none;
    justify-content: flex-end;
}

.shippingDataContainer .dataContainer:nth-child(2) {
    border-right: none !important;
}

.shippingText {
    color: #EE2A2A;
    font-size: 0.9em;
    font-weight: 400;
}

.theDesingPara {
    margin-top: 20px;
    color: #EE2A2A;
    size: 14px;
    font-weight: 400;
}

/* -----------------> Misc comment  */
.miscellaneousComment {
    padding: 20px;
}

#miscComment {
    margin-top: 10px;
    border: 1px solid #D3D3D3;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
}

.misc-comment {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 24.51px;
    text-align: left;
}

/* -----------------> approval information  */

.approv-info-main-container {
    width: 100%;
    padding: 20px;
}

.approv-header {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 24.51px;
    text-align: left;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid #dadada;
    border-bottom: none;
    border-right: none;
    margin-top: 20px;
}

.approv-info-item, .column-heading {
    text-align: center;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21.79px;
    border-bottom: 1px solid #dadada;
    border-right: 1px solid #dadada;
}

.column-heading {
    color: #27292F;
    font-weight: 500;
    font-size: 14px;
    line-height: 19.07px;
}

.person {
    color: #666C84;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.07px;
}

.column3, .column2 {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    color: #2162AC;
}

/* -------------->  download button */
.download-button-container {
    width: 100%;
    height: 80px;
    margin-top: 30px;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: end;
    border-top: 1px solid #dadada;
}

.download-button {
    width: 126px;
    height: 35px;
    padding: 8px 20px 8px 20px;
    gap: 10px;
    border-radius: 4px;
    opacity: 0px;
    background-color: #82C1A7;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}

.download-button:hover {
    background-color: #8cd4b6;
    font-weight: 600;
}

/* -----------> responsive code */

@media (max-width: 1150px) {
    .table-outer-div {
        position: relative;
        width: 100%;
    }

    .supplier-info-parent {
        flex-direction: column;
    }

    .visual {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .approval-type-status {
        flex-direction: column;
    }

    .table-outer-div-heading {
        font-size: 13px;
    }

    .table-outer-div-description {
        font-size: 13px;
    }

    .visualdiv {
        /* width: fit-content; */
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .vw1 {
        font-size: 10px;
        width: 35%;
    }

    .vw2 {
        font-size: 10px;
    }
}



@media (max-width: 650px) {
    .details-id-container {
        margin-left: 0px;
    }

    .view-detail-1 {
        font-size: smaller;
        width: 55%;
    }

    .view-detail-2 {
        font-size: smaller;
    }

    .supplier-info-right {
        margin-top: 0px;
        gap: 0px;
    }

    .supplier-info-left {
        margin-left: 0px;
    }

    .supplier-info-heading {
        font-size: 16px;
    }

    .approval-type-status {
        gap: 15px;
        margin-top: 0px;
    }

    .approval-type-heading {
        font-size: 13px;
    }

    .approval-type-description {
        font-size: 14px;
    }

    .table-outer-div {
        width: 98%;
    }

    .supplier-info-heading {
        font-size: 16px;
    }

    .supplier-info-table-layout {
        margin-top: 20px;
    }

    .program-info-heading {
        font-size: 16px;
    }

    .table1 {
        margin-top: 20px;
    }

    .visual {
        gap: 10px;
    }

    .approval-type-subdiv {
        width: 100%;
    }

    .approv-info-item, .column-heading {
        word-break: break-word;
        font-size: 14px;
    }
}

@media only screen and (min-width: 321px) and (max-width:640px) {

    .rowArrayY {
        flex-direction: column;
    }

    .spanrow2 div {
        width: 100%;
    }
}