<div class="details-id-container">
  <div class="details-go-back" (click)="navigateBack()">
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle cx="12" cy="12" r="12" fill="#2162AC" />
    </svg>
    <img class="go-back-image" src="../../assets/Path 2590.png" alt="Image" />
  </div>

  <p id="details-text">
    Details/<span id="details-id">{{ Id }}</span>
  </p>
</div>

<div class="viewdetails">
  <div class="view-detail-1">View Details</div>
  <div class="view-detail-2">XYZ PACKAGING</div>
</div>

<div class="container">
  <!-- supplier info -->

  <div class="supplier-info-parent">
    <div class="supplier-info-left">
      <img
        id="supplier-info-left-image"
        src="../../assets/loremimg.jpg"
        alt="Image"
      />
    </div>

    <div class="supplier-info-right">
      <div>
        <p class="supplier-info-heading">
          Supplier Information <span> (Shipping) </span>
        </p>
      </div>

      <div class="supplier-info-table-layout">
        <div class="table-outer-div">
          <div class="table-outer-div-heading">Company Name</div>
          <div class="table-outer-div-description">
            {{ supplierInfo?.companyName }}
          </div>
        </div>
        <div class="table-outer-div">
          <div class="table-outer-div-heading">Vendor Code</div>
          <div class="table-outer-div-description">
            {{ supplierInfo?.vendorcode }}
          </div>
        </div>
        <div class="table-outer-div">
          <div class="table-outer-div-heading">Company Address</div>
          <div class="table-outer-div-description">
            {{ supplierInfo?.companyAddress }}
          </div>
        </div>
        <div class="table-outer-div">
          <div class="table-outer-div-heading">State, Country</div>
          <div class="table-outer-div-description">
            {{ supplierInfo?.statecountry }}
          </div>
        </div>
        <div class="table-outer-div">
          <div class="table-outer-div-heading">Pkg Person Contact Name</div>
          <div class="table-outer-div-description">
            {{ supplierInfo?.contactName }}
          </div>
        </div>
        <div class="table-outer-div">
          <div class="table-outer-div-heading">Tel No</div>
          <div class="table-outer-div-description">
            {{ supplierInfo?.telno }}
          </div>
        </div>
        <div class="table-outer-div">
          <div class="table-outer-div-heading">Email</div>
          <div class="table-outer-div-description">
            {{ supplierInfo?.email }}
          </div>
        </div>
        <div class="table-outer-div">
          <div class="table-outer-div-heading">Fax No</div>
          <div class="table-outer-div-description">
            {{ supplierInfo?.faxno }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- approval type status -->
  <div class="approval-type-status">
    <div class="approval-type-subdiv">
      <div class="approval-type-heading">Approval Type</div>
      <div class="approval-type-description">{{ approvData?.type }}</div>
    </div>
    <div class="approval-type-subdiv">
      <div class="approval-type-heading">Status</div>
      <div class="approval-type-description">{{ approvData?.status }}</div>
    </div>
    <div class="approval-type-subdiv">
      <div class="approval-type-heading">Date Of Approval</div>
      <div class="approval-type-description">
        {{ formattedDate?.substring(0, 10) }}
      </div>
    </div>
  </div>

  <!-- 1. Program and Part Information -->

  <div class="program-part-info">
    <p class="supplier-info-heading">1. Program and Part Information</p>

    <div class="supplier-info-table-layout">
      <div class="table-outer-div program-part-div">
        <div class="table-outer-div-heading">
          XYZ Company Receiving Location
        </div>
        <div class="table-outer-div-description">
          {{ supplierInfo?.companyName }}
        </div>
      </div>
      <div class="table-outer-div program-part-div">
        <div class="table-outer-div-heading">
          Part Dimension (L x W x H) (mm)
        </div>
        <div class="table-outer-div-description">
          {{ supplierInfo?.vendorcode }}
        </div>
      </div>
      <div class="table-outer-div program-part-div">
        <div class="table-outer-div-heading">ABC Part No.</div>
        <div class="table-outer-div-description">
          {{ supplierInfo?.companyAddress }}
        </div>
      </div>
      <div class="table-outer-div program-part-div">
        <div class="table-outer-div-heading">Annual Volume (Projected)</div>
        <div class="table-outer-div-description">
          {{ supplierInfo?.statecountry }}
        </div>
      </div>
      <div class="table-outer-div program-part-div">
        <div class="table-outer-div-heading">ABC Part Description</div>
        <div class="table-outer-div-description">
          {{ supplierInfo?.contactName }}
        </div>
      </div>
      <div class="table-outer-div program-part-div">
        <div class="table-outer-div-heading">No. of parts per vehicle</div>
        <div class="table-outer-div-description">
          {{ supplierInfo?.telno }}
        </div>
      </div>
      <div class="table-outer-div program-part-div">
        <div class="table-outer-div-heading">Part Weight (Kg)</div>
        <div class="table-outer-div-description">
          {{ supplierInfo?.email }}
        </div>
      </div>
      <div class="table-outer-div program-part-div">
        <div class="table-outer-div-heading">Models applicable</div>
        <div class="table-outer-div-description">
          {{ supplierInfo?.faxno }}
        </div>
      </div>
    </div>
  </div>

  <!-- 2. visual refernce  -->
  <div class="visualmain">
    <h3 class="visual-ref-heading">
      2. Visual References <span> (part & Packaging)</span>
    </h3>

    <div class="visual">
      <div>
        <div class="visualdiv vdiv1">3.1 - Part</div>
        <div class="visualdiv vdiv2">
          <img
            [src]="displayImages[0]"
            (click)="openModal(displayImages[0])"
            alt="Image"
          />
        </div>
        <!-- <ng-template #defaultImageDisplay>
            <img [src]="defaultImage" alt="Default Image" />
          </ng-template> -->
      </div>
      <div>
        <div class="visualdiv vdiv1">3.2 - Part</div>
        <div class="visualdiv vdiv2">
          <img
            [src]="displayImages[1]"
            (click)="openModal(displayImages[1])"
            alt="Image"
          />
        </div>
        <!-- <ng-template #defaultImageDisplay>
            <img [src]="defaultImage" alt="Default Image" />
          </ng-template> -->
      </div>
      <div>
        <div class="visualdiv vdiv1">3.3 - Part</div>
        <div class="visualdiv vdiv2">
          <img
            [src]="displayImages[2]"
            (click)="openModal(displayImages[2])"
            alt="Image"
          />
          <!-- <ng-template #defaultImageDisplay>
              <img [src]="defaultImage" alt="Default Image" />
            </ng-template> -->
        </div>
      </div>
    </div>
  </div>

  <!-- 3. Packing Information -->
  <div class="packingData flex-column">
    <p class="packing-dada-heading">3. Packaging Information</p>
    <div class="packaging-spec-container">
      <div class="column">
        <div class="packing-info-headers">Specifications</div>
        <div class="packing-info-headers">Primary Packaging</div>
        <div class="packing-info-headers">Secondary Packaging</div>
      </div>

      <div class="specificationHeader">
        <div class="specificationTitle">
          <div>Density (Qty of parts)</div>
          <div>Packaging Strategy</div>
          <div>Carton Code</div>
          <div>Carton Type(Design)</div>
          <div>Packaging Material Type</div>
          <div>Securement / Closure Type</div>
          <div>Total Loaded Wt.(kg - Full)</div>
          <div>Outside Dimension (L X W X H) (mm)</div>
          <div>Dunnage & Description</div>
          <div>Labels (Quantity / Location)</div>
          <div>Container Ownership</div>
        </div>
        <div class="primaryContent">
          <div class="contentDetail">
            <div>{{ primaryPacking.density }}</div>
            <div>{{ primaryPacking.strategy }}</div>
            <div>{{ primaryPacking.cartoncode }}</div>
            <div>{{ primaryPacking.cartontype }}</div>
            <div>{{ primaryPacking.materialtype }}</div>
            <div>{{ primaryPacking.securement }}</div>
            <div>{{ primaryPacking.totalweight }}</div>
            <div class="rowArray3">
              <div>{{ primaryPacking.outsidedimension[0] }}</div>
              <div>{{ primaryPacking.outsidedimension[1] }}</div>
              <div>{{ primaryPacking.outsidedimension[2] }}</div>
            </div>
            <div class="rowArray2">
              <div>{{ primaryPacking.dunnage[0] }}</div>
              <div>{{ primaryPacking.dunnage[1] }}</div>
            </div>
            <div class="rowArray2">
              <div>{{ primaryPacking.labels[0] }}</div>
              <div>{{ primaryPacking.labels[1] }}</div>
            </div>
            <div>{{ primaryPacking.container }}</div>
          </div>

          <div class="contentDetail">
            <div>{{ secondarypkg.density }}</div>
            <div>{{ secondarypkg.strategy }}</div>
            <div>{{ secondarypkg.cartoncode }}</div>
            <div>{{ secondarypkg.cartontype }}</div>
            <div>{{ secondarypkg.materialtype }}</div>
            <div>{{ secondarypkg.securement }}</div>
            <div>{{ secondarypkg.totalweight }}</div>
            <div class="rowArray3">
              <div>{{ secondarypkg.outsidedimension[0] }}</div>
              <div>{{ secondarypkg.outsidedimension[1] }}</div>
              <div>{{ secondarypkg.outsidedimension[2] }}</div>
            </div>
            <div class="rowArray2">
              <div>
                <div>{{ secondarypkg.dunnage[0] }}</div>
                <div>{{ secondarypkg.dunnage[1] }}</div>
              </div>
            </div>
            <div class="rowArray2">
              <div>
                <div>{{ secondarypkg.labels[0] }}</div>
                <div>{{ secondarypkg.labels[1] }}</div>
              </div>
            </div>
            <div>{{ secondarypkg.container }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 4. Shipping and logistics -->
  <div class="shippingData flex-column">
    <p class="heading">4. Shipping & Logistics</p>
    <div class="shippingDataContainer">
      <div class="dataContainer1">
        <div>Vehicle type / Size</div>
        <div>Pallet Dimension (L X W X H) (mm)</div>
        <div>Sec Packaging per transit modes</div>
        <div>No of Pry Packs per Sec Packs</div>
        <div>Terms</div>
        <div>Hazardous Material Class</div>
        <div>loop Size (for Returnable)</div>
        <div>Life of Returnable Packaging</div>
        <div>Unloading & Loading responsibility</div>
        <div>Supply at XYZ</div>
      </div>

      <div class="dataContainer">
        <div>Closed XYZ</div>
        <div class="rowArrayX">
          <p>{{ closedXyz.dimentions[0] }}</p>
          <p>{{ closedXyz.dimentions[1] }}</p>
          <p>{{ closedXyz.dimentions[2] }}</p>
        </div>
        <div>{{ closedXyz.secPackaging }}</div>
        <div>{{ closedXyz.noOfPryPacks }}</div>
        <div>{{ closedXyz.terms }}</div>
        <div>{{ closedXyz.materialClass }}</div>
        <div>{{ closedXyz.loopSize }}</div>
        <div>{{ closedXyz.lifeOfReturn }}</div>
        <div>{{ closedXyz.unloadingLoading }}</div>
        <div>Batch at IOT</div>
      </div>

      <div class="dataContainer">
        <div class="spanHeading">Theoretical XYZ Utilisation</div>
        <div class="spanrow1">
          {{ theoreticalInfo.percentage }}
        </div>
        <div class="rowArrayY spanrow2">
          <div>{{ theoreticalInfo.materialClass[0] }}</div>
          <div>{{ theoreticalInfo.materialClass[1] }}</div>
        </div>
        <div class="spanrow3">{{ theoreticalInfo.remarkText }}</div>
        <div class="spanrow4"></div>
      </div>
    </div>

    <p class="theDesingPara">
      The design by supplier ensures the undamaged part supply till the point of
      use on the XYZ company.
    </p>
  </div>

  <!-- 5. Miscellaneous Comment -->
  <div class="miscellaneousComment">
    <h3 class="misc-comment">5. Miscellaneous Comment</h3>
    <textarea
      name="miscComment"
      id="miscComment"
      cols="30"
      rows="10"
    ></textarea>
  </div>

  <!-- 6. Approval Information -->

  <div class="approv-info-main-container">
    <h3 class="approv-header">6. Approval Information</h3>
    <div class="grid-container">
      <div class="column-heading">Department/Function</div>
      <div class="column-heading">Name</div>
      <div class="column-heading">Date</div>

      <!-- Items under column 1 -->
      <div>
        <div class="approv-info-item person">Packaging Person</div>
        <div class="approv-info-item person">Packaging Person</div>
        <div class="approv-info-item person">Packaging Person</div>
      </div>

      <!-- Items under column 2 -->
      <div class="column2">
        <div class="approv-info-item">{{ approvalInform.names[0] }}</div>
        <div class="approv-info-item">{{ approvalInform.names[1] }}</div>
        <div class="approv-info-item">{{ approvalInform.names[2] }}</div>
      </div>

      <!-- Items under column 3 -->
      <div class="column3">
        <div class="approv-info-item">{{ approvalInform?.dates[0] }}</div>
        <div class="approv-info-item">{{ approvalInform?.dates[1] }}</div>
        <div class="approv-info-item">{{ approvalInform?.dates[2] }}</div>
      </div>
    </div>
  </div>

  <div class="download-button-container">
    <button (click)="exportToExcel()" class="download-button">Download</button>
  </div>
</div>
