<div class="tableBody">
  <div class="searchBox">
    <form action="">
      <input type="search" />
      <button>Search</button>
    </form>
  </div>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Company</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><p [routerLink]="['/displaydata']">123456789</p></td>
        <td>Kiran</td>
        <td>Sankey</td>
      </tr>
      <tr>
        <td><p [routerLink]="['/displaydata']">123456790</p></td>
        <td>Aman</td>
        <td>Sankey</td>
      </tr>
    </tbody>
  </table>
</div>
