<div class="table-body">
  <div class="search-box">
    <input [(ngModel)]="search" type="text" />
    <button (click)="filterData()">Search</button>
    <!-- <p>{{ search }}</p> -->
  </div>
  <!-- <div class="headingParent"> -->
  <div class="headings">
    <p>ID</p>
    <p>Show Details</p>
  </div>
  <div class="display-id" *ngFor="let item of myKeys; let i = index">
    <p>{{ item.id }}</p>
    <button [routerLink]="['/displaydata', item.id]">Show Details</button>
  </div>
</div>

<!-- create a new user  -->
<div class="form-container">
  <form
    class="user-form"
    #userForm="ngForm"
    (ngSubmit)="getUserData(userForm.value)"
  >
    <div class="form-fields">
      <label for="firstName">Name</label>
      <input type="text" ngModel name="name" placeholder="Kiran Shinde" />
      <br />
      <label for="firstName">Email</label>
      <input
        type="email"
        ngModel
        name="email"
        placeholder="xyz@sankeysolutions.com"
      />
      <br />
      <label for="firstName">Password</label>
      <input type="password" ngModel name="password" placeholder="" />
    </div>
    <button class="form-button" type="submit">Add User</button>
  </form>
</div>

<div class="display-users" *ngFor="let item of displayUsers; let i = index">
  <p class="user">User {{ i + 1 }} 👉 {{ item.name }}</p>
</div>
<!-- <p *ngFor="let name of saveNames">{{ name }}</p>
<p *ngFor="let company of saveCompany">{{ company }}</p> -->
