.table-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 50px;
    font-family: Open sans;
}

input, button {
    border: none;
    padding: 10px;
    margin-right: 10px;
    font-family: Open sans;
}

button {
    background-color: #29a6ff;
    font-weight: 500;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-family: Open sans;
}

button:hover {
    background-color: #7fc0ef;
}

.display-id {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.headings {
    display: flex;
    gap: 50px;
    font-size: 18px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 80%;
}

.form-fields {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.form-button {
    margin-top: 20px;
    font-size: 15px;
    font-weight: 600px;
    width: 100%;
}

form {
    width: 100%;
    border-radius: 6px;
    background-color: white;
    font-family: Open sans;
}

input {
    border: 1px solid #dadada;
    border-radius: 6px;
}

.user-form {
    padding: 20px;
    margin: 100px 0px;
}

label {
    padding-left: 4px;
}

input::placeholder {
    font-size: 14px;
}

.display-users {
    padding: 20px;
    width: 100%;
    font-size: 15px;
    font-family: Open sans;
}

.user {
    border-bottom: 1px solid #dadada;
    margin-top: 10px;
    padding: 7px 8px;
    font-weight: 600;
}

.currentUser {
    border-bottom: 1px solid #dadada;
    margin-top: 10px;
    padding: 7px 8px;
    font-weight: 500;
}

.current-user-parent {
    padding: 20px;
    width: 100%;
    font-size: 15px;
    font-family: Open sans;
}

@media (max-width: 650px) {}